.chat-main
  .chat-main__group-info
    .chat-main__group-info__group-name
      = @group.name
    .chat-main__group-info__edit
      = link_to edit_group_path(@group), class:"chat-main__group-info__group-edit" do
        Edit
    .chat-main__group-info__member
      - @group.users.each do |user|
        = user.name
  .chat-main__message-lists
    = render @messages
  .chat-main__message-form
    = form_for [@group, @message], html:{class:"chat-main__message-form__input"} do |f|
      .chat-main__message-form__input
        = f.text_field :body, class: 'chat-main__message-form__input__text', placeholder: 'type a message'
        = f.label :image, class: 'chat-main__message-form__input__image' do
          = icon('fas', 'image', class: 'chat-main__message-form__input__image')
          = f.file_field :image, class: 'file-icon'
      = f.submit 'Send', class: 'chat-main__message-form__send-form'
